/*light grey #ecf0f1*/

body {
  padding-top: 70px;
}

/*.jumbotron {
  color: #2c3e50;
  background-color: #ecf0f1;
}

navbar-nav {
  background-color: #ecf0f1;
}

.navbar-inverse {
  background: #ecf0f1;
}

.navbar-inverse .navbar-nav>li>a{
  color: grey;
}

.navbar-inverse .navbar-brand {
  color: grey;
}*/
